@import url("https://fonts.googleapis.com/css?family=Poppins :300,400");

*
{
 outline:none !important;
 scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
}
header{
    position:relative;
    z-index:1000000;
}
p
{
    font-size:1.15rem;
}
.navbar{
    background:transparent !important;
    transition:0.5s;
 
}
.navbar.scrolled{
    background:white !important;
    transition:0.5s;
   
}
.nav-item{
    margin:0 5px 0 5px;
}

.navbar-light .navbar-nav .active >.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color:#fff; 
    background:#000;
    border-radius: 5px;
}

.navbar-light .navbar-nav .active >.nav-link:hover{
    color:#000;
    
}
.navbar-light .navbar-nav .nav-link{
    color:#010;    
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited{
 
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited
 {
   
    font-weight:600;
}
.navbar-brand:hover {
    transform:rotate(180deg);
    transition:0.5s;
}
.navbar-brand {
    
    transition:0.5s;
}

.banner{
   position:relative;
   top:0;
   width:100%;
   height:100vh;
   background:url(images/main_background.jpg);
   background-size:cover;
   margin-bottom:0;
   background-attachment:fixed;
}
.sec{
    height:100vh
}
/* .banner:before,
.sec1:before,
.sec2:before,
.contact:before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    widows: 100%;
    height:400px;
    background:linear-gradient(#000,transparent);
    pointer-events: none;
}
.banner:after,
.sec1:after,
.sec2:after,
.contact:after{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    widows: 100%;
    height:400px;
    background:linear-gradient(360deg,#000,transparent);
    pointer-events: none;
} */

.height100p{
height:100vh;
}

.h100{
    height:100%;
}
.contentBox{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:10;
   
}
.contentBox h1{
    font-weight: 800;
    color:rgb(155, 154, 154);
    text-transform: uppercase;
    font-size:3rem;
}

.sec1{
    padding:30px 0;
    background:rgb(5, 4, 22);
   
}
.headerText h2{
font-size:2.5rem;
color:white;
margin-bottom:20px;
}
.headerText {
    color:white;
}
.placeBox{
    position:relative;
    max-width:330px;
    height:300px;
    margin:0 auto;
    margin-top:30px;
    background: #f7f7f7;
    
}
.placeBox imgBX{
    object-fit:cover;
    width:100%;
    height:100%;
    min-height:250px;
    transition:0.4s;
    border-radius:10px 0 0 10px;
}
.project-box:hover{
    opacity:0.7;
    transition:1s;
    transform:scale(1.1);
}
.project-box{
    transition:1s;
}

.blogspot,.imgBX ,.blogspot,.project-box ,.imageBox{
    border-radius: 30px;
}
.placeBox .content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: baseline;
    align-items: flex-end;
}
.placeBox .content h3{
    position:relative;
    margin:0;
    padding:10px;
    background:rgb(29, 28, 28);
    color:#fff;
    font-size:20px;
    font-weight:600;
    width:100%;
    text-align:center;

}
.placebox .content h3 span{
    font-size:16px;
    font-weight:500;
}


.sec2{
    position:relative;
    background:url(images/sec2_background.jpg);
    background-attachment:fixed;
    height:100vh;
    background-size:cover;
    padding:10px;
}

.sec2 h2{
    font-weight:800;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.btnD1{
    border: 2px solid #fff;
    color:rgb(24, 28, 43);
    background:#fff;
    padding:15px 50px;
    border-radius:50px;
    outline:none;
    font-weight:500;
    margin-top:20;
}

.blog{
    position:relative;
   padding:10px;
    background:white
}
.blog h2{
    color:black;
}
.blogspot{
    position:relative;
    margin-top:10px;
    width:100%;
    background:#fff;
 
}
.blogspot .imgBx img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.blogspot .content{
    padding:15px;
   
}
a:link{
    color:#262626;
    text-decoration: none;
    cursor: pointer;
}
.blogspot .content h1{
    margin:0;
    padding:0;
    font-weight:600;
    font-size:1.5rem;
}
.btnD2{
    background:white;
    color:rgb(24, 28, 43);
    border-radius:30px;
    padding:10px 20px;
    float:right;
    transition:0.8s;
}
.btnD2 a{
    color:white;
    text-decoration:none;
}
.btnD2:hover{
    background:rgb(5, 4, 22);
    color:whtie;
    transition:0.8s;
 
}

.contact{
    position:relative;
    padding:100px 0;
    background-size:cover;
    min-height:100vh;
    background: linear-gradient(to top, #4b6cb7, #182848);
   
}

.contact .form-group{
    border-bottom:2px solid rgb(255,255,255,.2);
    background:transparent; 
    border:none;
    border-radius:0;
    height:80px;
    background:transparent;
    color:white;
    font-size:1.25rem;
}

.contact .form-group:focus{
    border:none;
    box-shadow: none;
    border-bottom:2px solid rgba(255,255,255,1);
}
.contact .textarea{
    min-height:100px;
}
.btnD3{
        border: 2px solid #000;
        color:#fff;
        background:rgb(24, 28, 43);
        padding:15px 50px;
        border-radius:50px;
        outline:none;
        font-weight:500;
        margin-top:50px;
        float:right;
}
.btnD3:hover{
    transition:0.3s;
    background:#fff;
    color:#000;
}

footer{
    background:rgb(17, 17, 37);
    padding:50px 0 0 ;
}
.sci{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;

}

.sci li{
    list-style:none;
    margin: 0 20px;   
}
.sci li a {
    color:#777;
    font-size:2em;
    transition:0.5s;
}
.sci li a:hover{
    color:#fff;
}
.cpryt{
    margin-top:20px;
    text-align:center;
    color:#777;
    transition:0.5s;
}
.cpryt:hover, .cpryt p{
    color:#fff;
    transition:0.5s;
}
.cpryt-container{
    background:rgb(24, 28, 43);
   width:100%;
   text-align:center;
   justify-content: center;
   align-items:center;
  
}
.navbar-brand:hover{
    position: absolute;
    animation: spin 4s linear infinite;
    animation:spin 4s linear infinite;
    rotate:360deg;

}
.about-post-line{
    width:80%;
    text-align:center;
    border:2px solid white
}
.about-post-body_skills{
    margin-top:-50px;
}

.about-header{
    width:100%;
    height:100%;
    text-align:center;
}
.school-image{
    height:20%;
    width:20%;
}
ul li{
    text-align:left;
    list-style-type:none;
}
.sub_title{
    font-size:0.9rem;
    margin:10px 0 10px 0;
}
.main_title{
    font-size:1.4rem;
    margin:5px 0 15px 0;
}

.first-background-about{
    border-radius:10px 0 0 10px;
}
.third-background-about{
    border-radius:0 10px 10px 0;
}
.second-background-about,
.first-background-about,
.third-background-about
{
    padding:0 0 40px 0;
    background:rgb(41, 49, 78);
}

.row{
    margin-top:30px;
}

.main_title_skills{
    font-weight:0.9rem;
    margin-top:0;
}


@media(min-width:992px){
    .nav-expand-lg .navbar-nav .nav-link{
        padding-right:1rem;
        padding-left:1rem;
    }
  
}

@media(max-width:992px){
    .nav-light .nabar-toggler{
       background:#000;
       border-radius:0;
    }

    .contentBox h1{
        font-size:30px !important;
    }
    .contentBox p{
        font-size:20px !important;
    }
    .profile_box{
        display:none;
    }
    .profile_sub_text{
        display:none;
    }
    .main_title{
        font-size:15px;
    }
    .main_title_skils{
        margin-top:25px;
        font-size:13px;
        margin-left:-15px;
    }
    .sub_title{
        font-size:12px;
    }
    .banner{
        min-height:100vh;
        padding:100px 0;
    }
    .contentBox h1,
    .sec2 h2,
    .sec1 h2{
        font-size:5rem;  
    }
    .contentBox p,
    .sec2 p,
    .sec1 p{
            font-size:3rem;
    }
    .headerText h2{
        font-size:1.8rem;
    }
}
.profile_text, .typed{
    color:rgb(181, 186, 192);
}

.profile_box{
    background:rgb(41, 49, 78);
    border-radius:40%;
    height:100%;
    width:100%;
    box-sizing:border-box;
    margin-left:0;
    margin-bottom:10px;
}
.content_box{
    margin-top:14px;
}

.profile_picture{
    height:100%;
    width:100%;
    border-radius:45%;
    transition:0.8s;
   
    }
.profile_picture:before{
    content:'';
    height:100%;
    width:100%;
    background:green;
    transform:scale(1);
    transition:0.5s;
    opacity:0.8;
}
.profile_picture:hover{
    transform:scale(1.1);
    transition:0.5s;
}
.profile_sub_text{
    color:rgb(90, 120, 155)
}
.profile_container{
  margin:0;
}
.project-box-container{
    margin:25px;
    
}
.project-box .blogspot{
    border:2px solid rgb(241, 242, 255);
}
@keyframes animate
{
    
        0%{
            transforms:scale(0.92) rotate(0deg);
        }
        100%{
            transforms:scale(0.92) rotate(360deg);
        }
    
}

.interest_box
{
    margin:0 5px 0 5px;
}
